In [1]:
# import pandas as pd
import numpy as np

In [2]:
from import_data import FetchYahooFin

In [4]:
## fetch data
# create an object
data_class = FetchYahooFin()

# call the method within the class
data = data_class.fetch(stock = 'AAPL')
data

,Adj Close_AAPL,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL
Date,,,,,,
2010-01-04,6.583586,7.643214,7.660714,7.585000,7.622500,493729600.0
2010-01-05,6.594968,7.656429,7.699643,7.616071,7.664286,601904800.0
2010-01-06,6.490066,7.534643,7.686786,7.526786,7.656429,552160000.0
2010-01-07,6.478067,7.520714,7.571429,7.466071,7.562500,477131200.0
2010-01-08,6.521136,7.570714,7.571429,7.466429,7.510714,447610800.0
...,...,...,...,...,...,...
2021-02-19,129.869995,129.869995,130.710007,128.800003,130.240005,87525900.0
2021-02-22,126.000000,126.000000,129.720001,125.599998,128.009995,103607600.0
2021-02-23,125.860001,125.860001,126.709999,118.389999,123.760002,157859100.0
2021-02-24,125.349998,125.349998,125.559998,122.230003,124.940002,110691500.0
2021-02-25,120.989998,120.989998,126.458504,120.540001,124.680000,148199540.0

In [ ]:
## modify data_DF
# check for NAs
# no NAs
# data.info()

In [6]:
## historical analysis for log return (daily)

# calculate daily log return
data = data.assign(logret = np.log(data['Adj Close_AAPL']).diff())  

# sum stats of daily log returns
ss = data.logret.describe().to_frame().T
# sample skewness
ss['S'] = data.skew(axis = 0)  
# sample kurtosis
ss['K'] = data.kurt() + 3  

ss

,count,mean,std,min,25%,50%,75%,max,S,K
logret,2805.0,0.001038,0.017877,-0.137708,-0.007125,0.000943,0.010351,0.113157,-0.316947,9.291677

In [ ]:
## real-time infor

# for price: today's open/close/day's range/52 week range/50 day MA/200 day MA

# for volume: today's volume/ 50 day MA/200 day MA

# for log return: today's return/ 50 day MA/200 day MA

In [ ]:
# write it to a class